* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
    order: 2;
    margin-bottom: 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

.thinkful-logo {
    margin-top: 7px;
    margin-left: 4px;
}

/* Add your CSS here */

.flex-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    border-bottom: 1px solid #eeeeef;
}

.content {
  display: none;
}

.nav-flexbox-outer {
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.top-level-li {
  border-bottom: 1px solid #eeeeef;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top-level-li > a {
  color: #6799ff;
  text-transform: uppercase;
  padding-left: 10px;
}


.nav-flexbox-inner {
    padding-top: 15px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
		background-color: #F9FBFF;
}

.lower-level-li {
    display: flex;
		flex-direction: column;
		justify-content: center;
    min-height: 40px;
}

.lower-level-li > a {
    color: black;
    padding-left: 10px;
}

ul {
   list-style: none;
}
ul li a {
    text-decoration: none;
}

img {
    display: none;
}

@media (min-width: 720px) {
  .hide-when-large {
    display: none;
  }

  .ultra-flex {
    display: flex;
  }

  .nav-flexbox-outer {
      margin-top: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
  }

	.nav-flexbox-inner {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

  .content {
    display: flex;
    width: 100%;
  }

  .content > nav {
    width: 100%;
  }

	.display-nav {
		position: absolute;
		top: 100px;
		width: 100%;
		left: 0;
	}

	.img-flexbox {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-shrink: 1;
		flex-basis: 132px;
	}

  img {
    display: flex;
		flex-shrink: 1;
		flex-basis: 132px;
		max-height: 75px;
  }

  .top-level-li:last-child {
    margin-left: auto;
		padding-right: 20px;
  }
}
